{% extends "base.html" %}

{% block content %}
<div class="mask">
    <div class="container d-flex align-items-center justify-content-center text-center h-100">
        <div class="main_text">
            <h1 class="mb-3 text-center pt-5">Welcome to Plate-Pal</h1>
            <p class="p-5 m-5 ">
                Plate-Pal the ultimate destination for foodies who love to share their favorite recipes and discover new
                ones. <br> Whether you're a seasoned chef or just starting out in the kitchen, Plate-Pal is the perfect
                place to showcase
                your culinary skills and connect with like-minded food lovers. As a registered user, you'll have access
                to a wealth
                of resources that will help you take your cooking to the next level. You can easily post your own
                recipes, edit or
                delete them at any time, and leave comments on other users' recipes. Our platform is designed to be
                user-friendly,
                so you don't need any technical skills to get started. Simply sign up for a free account and start
                exploring the
                app. <br>

                With Plate-Pal, you'll never run out of inspiration for your next meal. Our database is constantly
                updated with the
                latest recipes from around the world, so you can browse through a diverse range of dishes and find the
                perfect
                recipe for any occasion. You can also search for specific types of dishes, such as vegan, gluten-free,
                or low-carb,
                to suit your dietary needs and preferences.
                <br>
                One of the best things about Plate-Pal is the community of food lovers that you'll be joining. You'll
                have the
                opportunity to connect with other users, share tips and tricks, and learn from each other's experiences.
                And if you
                come across a recipe that you love, you can leave a comment to let the creator know how much you enjoyed
                it.
                <br>
                But Plate-Pal isn't just about discovering new recipes - it's also about sharing your own. If you have a
                culinary
                creation that you're proud of, just click the "Post a Recipe" button to share it with the world. You can
                add photos,
                ingredient lists, and step-by-step instructions, making it easy for other users to recreate your
                masterpiece in
                their own kitchens.
                <br>
                Thank you for choosing Plate-Pal as your go-to source for delicious recipes. We can't wait to see what
                culinary
                creations you come up with! Whether you're a passionate home cook or just looking for some inspiration,
                Plate-Pal is
                the perfect platform to connect with other foodies and take your cooking to the next level. So why wait?
                Sign up
                today and start exploring the world of culinary delights!
            </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                
            </div>
        </div>
    </div>

</div>
{% endblock %}